{% extends 'base.html' %}

{% block title %}Password Change{% endblock title %}
{% block page_header %}
<h2>Password Change</h2>
{% endblock page_header %}

{% block content %}
<p>Please enter your old password, for security's sake, and then enter your
    new password twice so we can verify you typed it in correctly.</p>
    <form method="post" action="{% url 'users:password_change' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button  type="submit">Change password</button>
    </form>
{% endblock content %}